@media screen and (min-width: 940px) {
    #wrapper {
        width: 75%;	
    }
	
}
@media screen and (max-width: 940px) {
	#wrapper {
        width: 75%;	
    }
	
	#skills {
	padding: 160px;
	}
	
	#chart {
	display: none;
	}
	
	#logo_text{
        white-space: nowrap;	
    }
	
	#logo {
	width: 15%;
	}
    
    /*force table to be block*/
    
    #skills table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
	
	
    
    /*Hide table header but do not do display: none for accessibility purposes*/
    
	
	
    thead tr {
        position: absolute;
        top: -999px;
        left: -999px;
    }
	
	
    td {
        border: none;
        position: relative;
        padding-left: 50%;
    }
    td:before {
        /*Adding table header on td before the data*/
        
        position: absolute;
        /*Add padding on top and to the left of the header label*/
        
        top: 16px;
        left: 6px;
        width: 45%;
		
        padding-right: 10px;
        white-space: nowrap;
    }
	
	
    #skills td:nth-of-type(1):before {
        content: "Skill"
    }
    #skills td:nth-of-type(2):before {
        content: "Level"
    }
	

    
}